/* Social Feed */
/* breaks Words when they are too long and would burst the layout. */
.betterembed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    position: relative;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}
.betterembed.is-betterembed-msg-visible .betterembed__msg {
    display: block;
}
.betterembed.is-betterembed-msg-visible .betterembed__show-original-element {
    background-position: center right;
}
.betterembed.is-betterembed-remote-visible .betterembed__embed {
    display: block;
}
.betterembed.is-betterembed-remote-visible .betterembed__item {
    display: none;
}
.betterembed__show-original-element {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/310306/betterembed-logo.png");
    background-repeat: none;
    background-position: center right;
    background-size: 23px 23px;
    background-repeat: no-repeat;
    height: 30px;
    padding-right: 30px;
    display: block;
    background-color: transparent;
    border: none;
}
.betterembed__show-original-element:focus {
    outline: none;
}
.betterembed__item {
    overflow: hidden;
}
.betterembed__network {
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-right: 30px;
    margin: 0 0 10px 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: #4c5559;
}
.betterembed__media img {
    width: 100%;
    height: auto;
}
.betterembed__title {
    clear: both;
    padding: 0 15px;
    margin: 15px 0 0 0;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 22px;
}
.betterembed__text {
    clear: both;
    padding: 15px;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 18px;
}
.betterembed__text a {
    color: #fff;
    font-weight: inherit;
    /* could be removed */
    text-decoration: underline;
}
.betterembed__read-more {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}
.betterembed__body {
    background: #4c5559;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.betterembed__msg {
    display: none;
    font-size: 16px;
    position: absolute;
    padding: 20px;
    top: 15px;
    left: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    text-align: center;
}
.betterembed__msg p {
    text-align: left;
    margin: 0;
}
.betterembed__msg p:not(last-of-type) {
    padding-bottom: 10px;
}
.betterembed__msg strong {
    font-weight: 600;
}
.betterembed__msg-button-primary {
    display: -webkit-inline-box;
    display: inline-flex;
    margin-top: 20px;
    background-color: white;
    padding: 10px 20px;
    color: black;
}
.betterembed__msg-button-secondary {
    display: -webkit-inline-box;
    display: inline-flex;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
}
.betterembed__footer {
    margin: 0 15px;
    padding: 15px 0;
    border-top: 1px solid #fff;
    font-size: 16px;
    overflow: auto;
}
.betterembed__author a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.betterembed__author a:hover {
    text-decoration: underline;
}
.betterembed__embed {
    display: none;
    padding-top: 30px;
}
.betterembed__embed > * {
    width: 100% !important;
    overflow-x: none;
    margin: 0;
    padding: 0;
}

.betterembed__embed > iframe {
    width: 100%;
}
