/* Social Feed */
@-webkit-keyframes shade {
    from {
        -webkit-transform: translate3d(0px, 0px, 0);
        transform: translate3d(0px, 0px, 0);
    }
    to {
        -webkit-transform: translate3d(-10px, -10px, 0);
        transform: translate3d(-10px, -10px, 0);
    }
}
@keyframes shade {
    from {
        -webkit-transform: translate3d(0px, 0px, 0);
        transform: translate3d(0px, 0px, 0);
    }
    to {
        -webkit-transform: translate3d(-10px, -10px, 0);
        transform: translate3d(-10px, -10px, 0);
    }
}
/* breaks Words when they are too long and would burst the layout. */
.social-feed-items > * {
    max-width: 300px;
}

.social-feed-item {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.social-feed-item__network {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    color: #eaeaea;
}
.social-feed-item__media {
    -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0);
    -webkit-animation: shade 0.8s ease-in-out;
    animation: shade 0.8s ease-in-out;
}
.social-feed-item__media img {
    width: 100%;
    height: auto;
}
.social-feed-item__title {
    clear: both;
    padding: 0 15px;
    margin: 15px 0 0 0;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 22px;
}
.social-feed-item__text {
    clear: both;
    padding: 15px;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 18px;
}
.social-feed-item__text a {
    color: #fff;
    font-weight: inherit;
    /* could be removed */
    text-decoration: underline;
}
.social-feed-item__read-more {
    color: #fff;
    font-size: 14px;
}
.social-feed-item__body {
    background: red;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.social-feed-item__footer {
    margin: 0 15px;
    padding: 15px 0;
    border-top: 1px solid #fff;
    font-size: 16px;
    overflow: auto;
}
.social-feed-item__author-image {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}
.social-feed-item__author-name a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.social-feed-item__author-name a:hover {
    text-decoration: underline;
}
.social-feed-item:hover .social-feed-item__media {
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: translate3d(0px, 0px, 0) scale(1.08);
    transform: translate3d(0px, 0px, 0) scale(1.08);
}

.social-feed-item--facebook .social-feed-item__network {
    color: #306199;
}
.social-feed-item--facebook .social-feed-item__body {
    background-color: #306199;
}
.social-feed-item--facebook[data-attachement=""] .social-feed-item__text {
    background-color: #27507e;
}

.social-feed-item--twitter .social-feed-item__network {
    color: #26c4f1;
}
.social-feed-item--twitter .social-feed-item__body {
    background-color: #26c4f1;
}
.social-feed-item--twitter[data-attachement=""] .social-feed-item__text {
    background-color: #0fb5e5;
}

.social-feed-item--youtube .social-feed-item__network {
    color: #df1c31;
}
.social-feed-item--youtube .social-feed-item__body {
    background-color: #df1c31;
}
.social-feed-item--youtube .social-feed-item__text {
    margin-top: -10px;
}

.social-feed-item--github .social-feed-item__network {
    color: #444;
}
.social-feed-item--github .social-feed-item__body {
    background-color: #444;
}
.social-feed-item--github .social-feed-item__text {
    margin-top: -10px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.l-layout-masonry {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 50px;
    column-gap: 50px;
}
.l-layout-masonry > * {
    display: block;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}
@media only screen and (min-width: 500px) {
    .l-layout-masonry {
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 900px) {
    .l-layout-masonry {
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1300px) {
    .l-layout-masonry {
        -webkit-column-count: 4;
        column-count: 4;
    }
}
