/* Social Feed */
/* breaks Words when they are too long and would burst the layout. */
.betterembed {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    position: relative;
}
.betterembed__item {
    overflow: hidden;
}
.betterembed__network {
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-right: 30px;
    margin: 0 0 10px 0;
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    color: #cdcdcd;
}
.betterembed__media img {
    width: 100%;
    height: auto;
}
.betterembed__title {
    clear: both;
    padding: 0 15px;
    margin: 15px 0 0 0;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 22px;
}
.betterembed__text {
    clear: both;
    padding: 15px;
    /* Non standard for webkit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 18px;
}
.betterembed__text a {
    color: #fff;
    font-weight: inherit;
    /* could be removed */
    text-decoration: underline;
}
.betterembed__read-more {
    color: #fff;
    font-size: 14px;
}
.betterembed__body {
    background: #cdcdcd;
    color: #fff;
    font-size: 20px;
    position: relative;
}
.betterembed__footer {
    margin: 0 15px;
    padding: 15px 0;
    border-top: 1px solid #fff;
    font-size: 16px;
    overflow: auto;
}
.betterembed__author a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.betterembed__author a:hover {
    text-decoration: underline;
}

.betterembed--facebook .betterembed__network {
    color: #306199;
}
.betterembed--facebook .betterembed__body {
    background-color: #306199;
}
.betterembed--facebook[data-attachement=""] .betterembed__text {
    background-color: #27507e;
}

.betterembed--twitter .betterembed__network {
    color: #26c4f1;
}
.betterembed--twitter .betterembed__body {
    background-color: #26c4f1;
}
.betterembed--twitter[data-attachement=""] .betterembed__text {
    background-color: #0fb5e5;
}

.betterembed--youtube .betterembed__network {
    color: #df1c31;
}
.betterembed--youtube .betterembed__body {
    background-color: #df1c31;
}

.betterembed--github .betterembed__network {
    color: #444;
}
.betterembed--github .betterembed__body {
    background-color: #444;
}
